@import "../../../utils/css/variables.scss";

.calculator-pane {
  grid-area: calculator;
  width: $pane-width;
  min-height: $pane-height;

  &.empty {
    border: 2px dashed $color-pane-dashed-border;
    border-radius: 6px;
  }

  &.highlighted {
    background-color: $color-blue-background;
  }
}