@import "../../utils/css/variables.scss";

.draggable-module {
  width: 100%;
  padding: $module-padding;
  display: flex;
  flex-grow: 1;
  column-gap: $button-gap;
  row-gap: $button-gap;

  &.keypad-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    button:nth-of-type(10) {
      grid-column: span 2;
    }
  }

  &.drop-indicator-line {
    /* Transform the <div> into a blue line */
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-blue;
    position: absolute;
    width: calc($pane-width - 2px);
    height: 0;

    .decorator-rhombus {
      width: 4px;
      height: 4px;
      background-color: $color-blue;
      transform: rotate(45deg);
      position: relative;

      &.left {
        left: -4px;
        top: -2px;
      }
      &.right {
        right: -2px;
        top: -2px;
      }
    }
  }
}