@import "../../../utils/css/variables.scss";

body {
  font-family: "Inter", sans-serif;
  color: black;
  display: flex;
  justify-content: center;
}

.app-pane {
  padding: 38px 80px 36px 74px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    ". mode-switch"
    "toolkit calculator";
  column-gap: $pane-column-gap;
  row-gap: $pane-row-gap;
  user-select: none;
}
