@import "../../../utils/css/variables.scss";

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.app {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: $pane-gap;
  border: 1px solid black;
}